{% extends 'base_site.html' %}

{% block content %}
<h2>Lista de Productos</h2>
<a href="{% url 'agregar_producto' %}" class="btn btn-primary mb-3">Agregar Producto</a>
<div class="row">
    {% for producto in productos %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ producto.imagen.url }}" alt="Imagen de {{ producto.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'editar_producto' producto.pk %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                        <form action="{% url 'eliminar_producto' producto.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                    <small class="text-muted">${{ producto.precio }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
